* {
    font-family: 'Teko', sans-serif;
    background-color: black;
    margin: 0;
}

.navigation {
    height: 70px;
    background: black;
}

.icon {
    position: absolute;
}

.nav-container {
    max-width: 100%;
    margin: 0 auto;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a,
nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: #000000;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a:visited:hover {
    color: lightgray;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: '▾';
}

nav ul li ul li {
    min-width: 100px;
}