* {
    font-family: 'Teko', sans-serif;
    margin: 0;
}


/* Turn off default formatting for links. */

a {
    text-decoration: none;
}


/* Format the links to not have default color/hover effects. */

a {
    text-decoration: none;
}


/* Format navbar to be monospace. */

nav {
    font-family: monospace;
}


/* Set the default look of the navbar items. */

ul {
    background: rgb(28, 38, 43);
    list-style: none;
    margin: 0;
    padding-left: 0;
}


/* Set the default look of each link in the navbar. */

li {
    color: #fff;
    background: rgb(28, 38, 43);
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}


/* Set default text color of links. */

li a {
    color: #fff;
}


/* Set hover effects of the main links. (Not the dropdown links) */

li:hover {
    background: rgb(11, 15, 17);
    cursor: pointer;
}


/* Set the default values for the dropwdown box itself. */

ul li ul {
    background: rgb(41, 56, 63);
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}


/* Add the dropdown function on hovering over the list item. */

ul li:hover>ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}


/* Set the default look of the sub items in the dropdown. */

ul li ul li {
    clear: both;
    width: 100%;
}